<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soccer Players</title>
</head>
<body>
<header>Soccer Players</header>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Team</th>
        <th>Position</th>
        <th>DOB</th>
        <th>Goals</th>
        <th>Assists</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.first_name}"></td>
        <td th:text="${player.last_name}"></td>
        <td th:text="${player.team}"></td>
        <td th:text="${player.position}"></td>
        <td th:text="${player.dob}"></td>
        <td th:text="${player.goals}"></td>
        <td th:text="${player.assists}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>